{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content%}
<div>
  <div style="text-align: center; margin: 2rem auto" class="font">

    {% if target_user.profile %}
    <img src="{{target_user.profile.image.url}}" alt="" STYLE="height: 10rem; width: 10rem; border-radius: 70%; margin-bottom: 1.5rem; object-fit:cover;">
    <h2 style="font-family: NanumSquareNeoExtraBold">
      {{ target_user.profile.nickname }}
      {% if target_user == user %}
      <a class="material-icons"
         style="box-shadow: 0 0 4px #ccc; border-radius:20rem; padding: .4rem;"
         href="{% url 'profileapp:update' pk=target_user.profile.pk %}">edit</a>
      {% endif %}
    </h2>
    <h5 style="margin-bottom: 1rem; ">
      {{target_user.profile.message}}
    </h5>
    {% else %}
    {% if target_user == user %}
    <a href="{% url 'profileapp:create' %}">
      <h2 style="font-family: NanumSquareNeoExtraBold">Create Profile</h2>
    </a>
    {% else %}
    <h4>프로필 미설정</h4>
    {% endif %}
    {% endif %}

    {% if target_user == user %}
    <a class="material-icons"
         style="height: 2.5rem; width: 2.5rem; box-shadow: 0 0 4px #ccc; border-radius: 70%; padding: .4rem;" href="{% url 'accountapp:updatee' pk=user.pk %}">
      <p>
        settings
      </p>
    </a>
    <a class="material-icons"
         style="height: 2.5rem; width:2.5rem;box-shadow: 0 0 4px #fcc; border-radius: 70%; padding: .4rem;" href="{% url 'accountapp:delete' pk=user.pk %}">
      <p>
          cancel
      </p>
    </a>
    {% endif %}
    {%include 'snippets/list_babdy.html' with article_list=object_list %}
  </div>
</div>
{% endblock %}