{% extends 'base.html' %} <!--블럭 컨텐츠 내용만 바꿀 수 있고 그외 내용은 base html 파일에서 가져올 수 있음 -->

{% block content %}

    <style>
        .testing{
            background-color:white;
            height: 3rem;
            width: 3rem;
            margin: 1rem;
        }
    </style>
  <div style=" border-radius: 1rem; margin: 2rem; text-align:center">
      <h1 class="babd_logo"> Hello World LIST! </h1>
<!--우리가 만든 url-->
      <form action="/account/hello_world/" method="post">
<!--토큰 자동 생성, 항상 작성하기 -->
          {% csrf_token %}
          <DIV>
              <input type="text" name="hello_world_input">
          </DIV>
<!--primary 색을 가진 버튼-->
          <input type="submit" class="btn btn-primary" value="POST">
      </form>
      {% if hello_world_list %}
      {% for hello_world in hello_world_list %}
      <H4>
          {{ hello_world.text }}
      </H4>
      {%endfor%}
<!--if문 끝내주기-->
      {%endif%}
  </div>
{% endblock %}