.babd_logo {
    font-family: 'Caprasimo'; cursive;
}
.footer_button{
    font-size: .8rem;
}
.footer{
    text-align:center; margin-top: 2rem;
    }
.babd_header{
    text-align:center; margin:2rem;
}
